.tab-content{
    background-color: #ffab91;
    height: 300vh;
    width: 100%;
    position: fixed;
}
.tab-content div{
    color: aliceblue;
    font-size: 4rem;
    text-align: center;
    padding-top: 30vh;
    display: none;
}