.tab-content{
    background-image: repeating-linear-gradient(to bottom right,rgb(251, 154, 154),2em,rgb(250, 239, 239),rgb(248, 167, 167));
    height: 300vh;
    width: 100%;
    position: fixed;
}
.tab-content div{
    color: aliceblue;
    font-size: 4rem;
    text-align: center;
    padding-top: 30vh;
    display: none;
}