@font-face {
  font-family: "iconfont"; /* Project id 3731650 */
  src: url('iconfont.woff2?t=1666797237154') format('woff2'),
       url('iconfont.woff?t=1666797237154') format('woff'),
       url('iconfont.ttf?t=1666797237154') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-User1:before {
  content: "\e60b";
}

.icon-gouwuche:before {
  content: "\e668";
}

.icon-31gouwuche:before {
  content: "\e600";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-User:before {
  content: "\ea94";
}

.icon-shouyefull:before {
  content: "\e603";
}

.icon-shouye3:before {
  content: "\e606";
}

.icon-xinpin:before {
  content: "\e607";
}

.icon-xinpinfull:before {
  content: "\e608";
}

.icon-guang:before {
  content: "\e609";
}

.icon-guangfull:before {
  content: "\e60a";
}

